/*
 * Global constants goes here
 */
:root {
    --primary-color: #42b983;
}
@import "./../../../node_modules/react-big-calendar/lib/css/react-big-calendar.css"
/*
 * Global CSS goes here
 */
html, .app_root, .app {
    height: 100%;
}

h3 {
  margin-top: 50%;
}

#app {
  height: 100%;
}
.app_root {
  height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}
#app {
    color: #2c3e50;
    min-width: 800px;
    max-height: 600px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    font-family: 'PT Sans Narrow', Source Sans Pro, Helvetica, sans-serif;
    text-align: center;
}
#app p {
    text-align: justify;
}
.reposList ul li {
    margin: 4%;
    height: 24px;
}
.reposList li:hover {
  background: #e4e4e4;
  cursor: pointer;
}
ul {
  padding: 0;
}
.repository {
    line-height: 2rem;
    text-align: start;
}
.app_root {
  in-width: 800px;
    min-height: 600px;
    overflow-y: auto;
}
.rbc-toolbar {
  height: 100px;
  background: #f44336;
  padding: 2%;
  margin-bottom: 0;
}
.rbc-toolbar-label {
  color: white;
  font-size: 36px;
  font-family: 'PT Sans Narrow', PT Sans;
  font-weight: 700;
}
.rbc-month-view .rbc-header+.rbc-header , .rbc-month-view .rbc-header {
    border-left: 1px solid transparent;
    height: 32px;
    line-height: 32px;
    color: #f44336;
    font-weight: 300;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#app {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  
  /* Smoother startup */
  animation: fadein 0.5s;
}
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.folderChooser {
    position: relative;
    margin: 0;
    margin-top: -257px;
  }